<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Roshan For realestate</title>
		<!-- <link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css"> -->
		<link rel="stylesheet" href="/css/home.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/f3c7bd6f07.js" crossorigin="anonymous"></script>
		<link rel="shortcut icon" href="../public/img/favicon-0.png" type="image/x-icon">
	</head>
	<body>
		<section class="hero">
			<header>
				<h1>Roshan</h1>
				<input type="checkbox" name="check" id="check">
				<label for="check">
					<i class="fa-solid fa-bars-staggered"></i>
				</label>
				<div class="navbtn">
					<label for="check">
						<i class="fa-regular fa-circle-xmark"></i>
					</label>
					<a class="button" href="/login">Login</a>
					<a class="button" href="/signup">Sign Up</a>
					<a class="button" href="#contactus">Contact Us</a>
				</div>
			</header>
			<div class="content">
				<iframe src='https://my.spline.design/roshan-bc46d899e59cbbc6be9e01227e1434e7/' frameborder='0' width='100%' height='100%'></iframe>
				<div class="centerDiv">
				<h1>Your Dream home is in your Hand</h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde blanditiis error maiores alias quos eligendi itaque omnis hic laudantium obcaecati ullam incidunt, possimus nostrum voluptas. Expedita inventore quaerat ratione labore!</p>
						<button href="">Get Start</button>
						<a href="#readmore">Read More  <i class="fa-solid fa-angle-down"></i></a>
					</div>
				
			</div>	
		</section>
		<section class="mid-section" id="readmore">
			<div class="about-us">
				<h1>No Broker's No more !</h1>
				<p>
					We reduce buyer search Cost that's will become  nothing compare to the brokerage , The buyer will conduct the search and will have no need for a broker.
				</p>
				<img src="../public/img/House/img-2.jpg" alt="">
		</div>
		<div class="about-us">
			<h1>Why You Don't Need a Broker</h1>
			<p>
				if you and the "Seller/buyer" can sit at your's computer and gather enough information about each other with just a click why you need a broker then?
			</p>
			<img src="../public/img/House/img-3.jpg" alt="">
		</div>
		<div class="about-us">
			<h1>Reducing The Wasting Time And Effort</h1>
			<p>
				In the process of searching for the home that you live the home of your kid's and wife , or evane your first home you will waste allot of time and effrot for sure , with this site we save your time and effort , and the next thing that you now that you are in your new home sleeping.
			</p>
			<img src="../public/img/House/img-4.jpg" alt="">
		</div>
		</section>
		<footer class="info" id="contactus">
			<h1>Contact Us</h1>
			<div class="center-footer">
				
				<div class="contact-info">
					<h4>Ahmed Suliman</h4>
					<h4>Phone : +249 92 513 8799</h4>
					<h4>Email : ahmedonour.49@gmail.com</h4>
				</div>
				<div class="contact-info">
					<h4>Mohand Alaldein</h4>
					<h4>Phone : </h4>
					<h4>Email :</h4>
				</div>
				<div class="contact-info">
					<h4>Ahmed Mohammad</h4>
					<h4>Phone :</h4>
					<h4>Email :</h4>
				</div>
			</div>
			<div class="copy-right">
				Copy Right's For Onodev Company
			</div>
		</footer>
	</body>
</html>
