<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Account •  | Roshan</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="shortcut icon" href="/img/favicon-0.png" type="image/png">
		<script src="https://kit.fontawesome.com/8a7299c2d2.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav>
			<div class="logo">
				<img src="/img/Roshan-Logo.png" alt="">
			</div>
			<input type="checkbox" name="check" id="check">
			<label for="check">
				<i class="fas fa-ellipsis-v"></i>
			</label>
			<div class="nav-btn">
				<label for="check">
					<i class="fas fa-times-circle"></i>				
				</label>
				<li><a href="/logout">Logout</a></li>
				<li><a href="/profile">Profile</a></li>
			</div>
		</nav>
		<div class="center">
			
			<section>
				<div class="sidebar">
					<li><button class="chang"><a href="#house-list">My List</a></button></li>
					<li><button class="chang"><a href="#buy">Buy</a></button></li>
					<li><button class="chang"><a href="#rent">Rent</a></button></li>
					<li><button class="chang"><a href="#sell">Sell</a></button></li>
				</div>
				<div class="house-list" id="house-list">
					<h1>House List</h1>
				
					<form action="/homes-list" method="post">
						<table>
                            <tbody>
								<% homes.forEach(function(home) { %>
									<tr>
										<td><%= home.location %></td>
										<td><%= home.for %></td> 
									</tr>
								 <% }); %> 
                        	</tbody>
						</table>
						<input type="submit" value="Go">
					</form>
				</div>
				<div class="house-list" id="buy">
					<h1>Buy</h1>
				</div>
				<div class="house-list" id="rent">
					<h1>rent</h1>
				</div>
				<div class="house-list" id="sell">
					<h1>Add New House</h1>
					<form action="/addNewHouse" method="POST">
						<input type="text" id="location" name="location" placeholder="Location" autocomplete="location" required>
						<input type="text" id="for" name="for" placeholder="For" autocomplete="for" required>
						<input type="hidden" name="_csrf" value="<%= csrfToken %>">
						<input type="submit" value="Go">
					</form>
				</div>
			</section>
		</div>
	
	<script>
		console.log(homes)
	</script>
	</body>
</html>
