<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Express • TodoMVC</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/login.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/f3c7bd6f07.js" crossorigin="anonymous"></script>
		<link rel="shortcut icon" href="../public/img/favicon-0.png" type="image/x-icon">
	</head>
	<body>
		<section class="prompt">
			<h3>Roshan</h3>
			<h1>Sign in</h1>
			<% if (hasMessages) { %>
			<section class="messages">
				<% messages.forEach(function(message) { %>
				<p><%= message %></p>
				<% }); %>
			</section>
			<% } %>
			<form action="/login/password" method="post">
				<section>
					<label for="username">Username</label>
					<input id="username" name="username" type="text" autocomplete="username" required autofocus>
				</section>
				<section>
					<label for="current-password">Password</label>
					<input id="current-password" name="password" type="password" autocomplete="current-password" required>
				</section>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button type="submit">Sign in</button>
			</form>
			<hr>
			<p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
		</section>
		</body>
</html>
