<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell || Add new home</title>
    <script src="https://kit.fontawesome.com/f3c7bd6f07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/sell.css">
</head>
<body>
    <header>
        <div class="right">
            <i class="fa fa-person"></i>
            <a href="/logout">Log out</a>
        </div>
        <div class="left">
            <h1>Roshan</h1>
        </div>
    </header>
</body>
</html>